{
    "singleQuote": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "tabWidth": 4,
    "printWidth": 100,
    "semi": true,
    "svelteSortOrder": "scripts-markup-styles-options",
    "plugins": ["prettier-plugin-svelte"],
    "pluginSearchDirs": ["."],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
